body {
    background-color: rgb(27, 24, 24);
    display: flex;
    flex-direction: column;
}

.header {
    background-color: lightblue;
    padding: 20px;
    border-bottom: 10px solid darkcyan;
    color: darkcyan;
    font-size: 1.5em;
    text-align: center;
}

.title {
    color: pink
}


.header img {
    float: right;
}




.card:hover {
    border-color: purple;

}

.card {
    background-color: pink;
    height: 165px;
    width: 165px;
    float: left;
    margin: 10px;
    cursor: pointer;
    border: 4px solid;



}

.card img {
    position: absolute;
}


.flipped .back {
    display: none;
}

.hide-play-again {
    display: none;
}

.player-name {
    border: 1px solid red;
}